body {background-image: url('https://i.pinimg.com/736x/93/4a/a6/934aa686b11115cdb2b5cadd95eeac3e.jpg');
    background-color: yellow;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    background-attachment: scroll;
    background: yellow;url('https://i.pinimg.com/736x/93/4a/a6/934aa686b11115cdb2b5cadd95eeac3e.jpg') no-repeat center center fixed;
    